---
layout: home
type: home
---
{% assign posts = (paginator.posts | sort: "date") | reverse %}
{% for post in posts %}

<post class="post-summary">
  <a href="{{ site.BASE_PATH }}{{ post.url }}">
    <h1 class="post-date">
      <div>
        {% assign d = post.date | date: "%d" | plus:'0' %}
        {{ post.date | date: "%b" }}
        {{ d }}
        {{ post.date | date: "%Y" }}
      </div>
    </h1>

    <h1 class="post-title">{{ post.title }}</h1>

    <div class="post-content">{{ post.excerpt }}</div>
  </a>
</post>

{% if forloop.last == false %}
<div class="line-separator"></div>
{% endif %}

{% endfor %}

<ul class="pager">

  {% if paginator.previous_page %}
  <li class="previous">
    {% if paginator.previous_page == 1 %}
    <a href="{{ site.BASE_PATH }}/">&larr; Newer</a>
    {% else %}
    <a href="{{ site.BASE_PATH }}/{{ site.paginate_path | replace: ':num', paginator.previous_page }}">&larr; Newer</a>
    {% endif %}
  </li>
  {% else %}
  <li class="previous disabled">
    <a>&larr; Newer</a>
  </li>
  {% endif %}

  <li>
    <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  </li>

  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ site.BASE_PATH }}/{{ site.paginate_path | replace: ':num', paginator.next_page }}">Older &rarr;</a>
  </li>
  {% else %}
  <li class="next disabled">
    <a>Older &rarr;</a>
  </li>
  {% endif %}

</ul>
