@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
@import url(font.css);

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid rgba(0, 20, 40, 0.08);
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: 1000;
}

.navbar-container {
   padding: 0 3%;
 }

.blog-title {
  display: inline-block;
  float: left;
  padding: 0 3%;
  font-size: 20px;
  color: #343a40;
  line-height: 70px;
  text-transform: lowercase;
  font-weight: 600;
}

.navbar-menus { display: inline-block; float: right; font-size: 18px; }
.navbar-menus a.navbar-menu { padding: 23px 20px 26px; color: #343a40; line-height: 70px; text-transform: lowercase; font-weight: 600; }
.navbar-menus a.navbar-menu.menu-about:hover, .navbar-menus a.navbar-menu.menu-about:focus, .navbar-menus a.navbar-menu.menu-about.active { color: #ff922b; }
.navbar-menus a.navbar-menu.menu-blog:hover, .navbar-menus a.navbar-menu.menu-blog:focus, .navbar-menus a.navbar-menu.menu-blog.active { color: #20c997; }
.navbar-menus a.navbar-menu.menu-dribbble:hover { color: #f06595; }

body {
	background-color: #FFFFFF;
  margin-bottom: 70px;
  padding-top: calc(70px + 3%);
  font-family: SF Display, "Helvetica Neue", "Lucida Grande", Nanum Barun Gothic, Nanum Gothic, Verdana, Arial, Dotum, sans-serif;
}

.post-list-container {
  padding-top: calc(10%);
}

.content {
  max-width: 600px;
  margin: 0 auto;
}

post {
  display: block;
}

post a, post a:link, post a:visited, post a:hover, post a:active {
  text-decoration: none;
  color: black;
}

post .post-date {
  font-family: SF Text, "Helvetica Neue", "Lucida Grande", Nanum Barun Gothic, Nanum Gothic, Verdana, Arial, Dotum, sans-serif;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 1px;
  color: #B5B5B5;
  text-transform: uppercase;
}

post .post-detail < .post-date {
  font-size: 30px;
}

post .post-title {
  font-size: 53px;
  font-weight: 300;
  margin: 0;
}

post .post-content {
  font-family: SF Text, "Helvetica Neue", "Lucida Grande", Nanum Barun Gothic, Nanum Gothic, Verdana, Arial, Dotum, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #939598;
  line-height: 27px;
  margin: 20px 0;
}

post .post-detail.post-title {
  color: #939598;
}
post .post-detail.post-content {
  color: black;
}

.line-separator{
  height: 1px;
  border-bottom: 1px solid #D3D3D3;
  margin: 70px 0 100px 0;
}

.page-header {
	color: #B6EE7E;
	border-bottom: none;
}

@media only screen and (min-width: 768px) {
    .page-header{
        margin-right: 70px;
    }
}

.pager li>a {
	background-color: #1d1b1b;
	border: 0px;
	color: #b26d73;
}

.pager li>a:hover {
	color: #f998a1;
	background-color: #1d1b1b;
}

.pager .disabled>a {
	background-color: #1d1b1b;
}

.pager .disabled>a:hover {
	background-color: #1d1b1b;
}

.pager .page_number {
	background-color: #1d1b1b;
	border: 0px;
	color: #b0a5a5
}

pre, code {
  font-family: SF Text, "Helvetica Neue", "Lucida Grande", Nanum Barun Gothic, Nanum Gothic, Verdana, Arial, Dotum, sans-serif;
}

pre {
    font-family: SF Text, "Helvetica Neue", "Lucida Grande", Nanum Barun Gothic, Nanum Gothic, Verdana, Arial, Dotum, sans-serif;
    width: 100%;
    padding: 10px;
    overflow: auto;
    overflow-y: hidden;
    border: 1px solid #777;
}

code {
  color: #55595b;
  background-color: #E9E9E9;
  border-radius: 3px;
}

pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

.highlight * {
  font-weight: 300;
}
